<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p style="color: darkred; size:150px" th:text="'Калькулятор'" />

<h3>post</h3>
<form method="post" action="/res">
    <p>a:<input id="variable" name="variable" type="text"> <p/>
    <p>b:<input id="variable2" name="variable2" type="text"> <p/>
    <br/>

    <button style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="Do" value="+">+</button>
    <button  style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="Do" value="-">-</button>
    <button  style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="Do" value="*">*</button>
    <button  style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="Do" value="/">/</button>
</form>
<br/>
<hr/>

<h3>get</h3>
<form method="get" action="/getres">
    <p>a:<input id="getvariable" name="getvariable" type="text"></p>
    <p>b:<input id="getvariable2" name="getvariable2" type="text"></p>
    <br/>

    <button  style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="getDo" value="+">+</button>
    <button  style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="getDo" value="-">-</button>
    <button  style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="getDo" value="*">*</button>
    <button  style="background: lightblue;height: 50px; width:200px" class="custom-btn btn-14" name="getDo" value="/">/</button>
</form>

</body>
</html>